.draggable {
  cursor: move;
}

svg {
  border: 1px solid black;
}

.dg-element.selected {
  visibility: visible;
  stroke: #0095ff;
}

.dg-element:hover {
  cursor: move;
}

.dg-hit {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(34, 36, 42);
  stroke-width: 2px;
  fill: white;
  fill-opacity: 0.95;
}

text.dg-label {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  fill: rgb(34, 36, 42);
}
